{% extends 'courses/base.html' %}
{% load static %}

{% block content %}
<html>

<head>
    <title>
        {{ object.name }}
    </title>
</head>

<body>
    <div class="container" style="max-width: 75%; text-align: center; margin:0 auto;">
        <h1>{{ object.name }}</h1>
        {% for course in courses %}
        <div class="card" , style="max-width: 50%; margin:1% auto;">
            <h3><a href="{% url 'courses:course' course.id %}" class="nav-link">{{ course.name }}</a></h3>
            <p>{{ course.description }}</p>
            <p class="mx-3" style="text-align: right"><img width="5%" src="{% static 'viewed_eye.jpg' %}"
                    alt="Viewed Eye">
                {{ course.times_viewed }}
                <img width="3%" src="{% static 'completed.png' %}" alt="Completed">
                {{ course.times_completed }}
            </p>
        </div>
        {% endfor %}
    </div>
</body>

</html>
{% endblock content %}
