{% extends 'courses/base.html' %}
{% load markdownify %}

{% block content %}
<html>

<head>
    <title>{{ object.name }}</title>
</head>

<body>
    <div class="container" style="max-width: 75%; text-align: center; margin:0 auto;">
        <h1>{{ object.name }}</h1>
        <h5>Short Description:</h5>
        <p>{{ object.description }}</p>
        {{'Some *test* [link](http://127.0.0.1:8000/courses/course/2/)'|markdownify }}
        {{'#bruh'|markdownify}}
        <hr>
    </div>
</body>

</html>
{% endblock content %}
